body {
    margin: 0px;
    min-height: 100vh;
    font-family: sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
}

#calc {
    display: flex;
    flex: 1 1 0;
    flex-flow: column;
}

#display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    outline: 3px solid black;
    margin: 10px;
    height: 50px;
}

#digits {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.row {
    display: flex;
    flex: 1 1 0;
    gap: 8px;
    margin:4px;
}

.row button{
    color: red;
    flex: 1 1 0;
    margin: 0px;
    
    font-size: 10vmin;
}

#expression,
#result,
#header {
    font-size: xx-large;
}

#header {
    background-color: blanchedalmond;
    padding: 10px;
}

h1,
p {
    margin: 0px;
}